.certifications-div{
        font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #cfd8dc;
}
.headfont{
    color: #4cc9f0;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.skill-div{
        font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #cfd8dc;
}
