.custom-card {
  background-color: #1c2541;      /* Dark background */
  color: #eaeaea;                 /* Text color */
  border: none;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

/* Title */
.custom-card .card-title {
  color: #4cc9f0;
  font-size: 1.3rem;
  font-weight: 600;
}

/* Text */
.custom-card .card-text,
.custom-card p,
.custom-card li {
  color: #cfd8dc;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  line-height: 1.6;
}

.headfont{
    color: #4cc9f0;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.main-cont p, li {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #cfd8dc;
}